---
layout: menu-page
title: Join Us
permalink: joinus:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
      <h3>Join Us</h3>
      <p class="subtitle2"><strong> Current news: We will be hiring a full-time research scientist/instrument manager for our mass spectrometry platform. The position will include instrument management, setting up best practices, and assisting at all stages of LC-MS based proteomics. There is significant potential to pursue your own research interests. Full advertisement will come soon, but please reach out to Noelle (nheld@usc.edu) if you have interest. </strong>
      <p class="subtitle2"><strong> Current news: We will be hiring a full-time research scientist/instrument manager for our mass spectrometry platform. The position will include instrument management, setting up best practices, and assisting at all stages of LC-MS based proteomics. There is significant potential to pursue your own research interests. Full advertisement will come soon, but please reach out to Noelle (nheld@usc.edu) if you have interest. </strong>

      <p class="subtitle">
        We are a young group, quickly developing into a diverse and vibrant team. We are looking for scientists at all levels (pre-bacc, post-bacc, graduate students, postdocs, and technical staff) from Jan 2024. </p>
      <p class='subtitle'>
        <b>We pursue rigorous science in a deliberate, supportive environment.</b> We celebrate diversity and work as a team, because this enhances our contributions to academia and to the world. 
        We interact frequently so that we can practice the hard and soft skills of science together.
      </p>
      <p class='subtitle'>
        People of many scientific backgrounds may feel at home in our group. This includes chemists, environmental scientists, ocean scientists, biologists, and quantitative researchers. We are united by an interest in the ocean, microbial ecology, proteomics, systems biology, and quantitative biology. 
      </p>
      <p class='subtitle'>
        <b>For all candidates:</b>If this sounds like the right environment for you, please contact Noelle (nheld@usc.edu). Please use as your subject line: "Interest in joining" and include a brief description of yourself and your interests. We generally get back within one week, but sometimes emails get lost in the fray. Please don't hesitate to resend your initial email. 
      </p>
      <p class='subtitle'>
        <b>How we evaluate candidates:</b>Your initial email should communicate your background and why you are interested in joining our group specifically. This should be commensurate with your experience level (i.e. we expect more scientific detail/specificity from potential postdocs versus graduate students). Noelle reviews initial emails from candidates and may recommend a phone/zoom conversation. Before finalizing any recruitment process, candidates meet 1:1 with each current member of the group.  We evaluate candidates based on the following:
      <ul>
        <li><<b>Scientific knowledge, experience, and ability to communicate:</b> This includes your ability to describe past/current research, answer questions about it, and demonstrate understanding appropriate to your level of expertise.</li>
        <li><b>Interest in our group: </b>This includes articulation of your interest in our group specifically. While we also love Los Angeles and USC, we are most interested what brings you to the Proteocean Lab! Tell us what lead you to interest in our group, and make explicit statements about why you want to join the lab and what you will contribute to the group. If you are shifting gears, explain why. Demonstrate that you have some knowledge of the projects and methods that we pursue. </li>
        <li><b>Working style and lab fit: </b>You must be enthusiastic about discussing science, and have an interest in lab culture. It is helpful to demonstrate awareness of strengths/weaknesses, and potential for independence and self motivation. </li>
        <li><b>Reference letters: </b>Only important at later stages of recruitment. Choose referrers who know you well, can describe day-to-day interactions with you, your potential for independence and self motivation, and your development over time. </li>
        <li><b>“Unusual” situations: </b>I hate the word “unusual” because science has no normal paths! Regardless, it is generally best to acknowledge (but not necessarily explain) certain situations, such as a PhD transfer. If appropriate, you may describe plans for working with or moving beyond a situation. </li>
      </ul>
      </p>
     
    <p class = 'subtitle'>
        <b>Postdocs: </b>Please reach out to learn more about fellowships that you may be eligible for by joining our group. Opportunities are available within and outside of USC. For postdocs, we commit to supporting you in developing your fellowship applications and providing clarity about backup funding.
      </p>
      <p class='subtitle'>
        <b>Graduate students: </b>Our group can accept PhD students in the Marine and Environmental Biology or Ocean Sciences programs. We recruit students only for PhDs and not for Master’s degrees. It is not required for you to have a Master’s degree before entering our PhD programs. 
      </p>
      <p class='subtitle'>
        <b>Undergraduate students:  </b>Undergraduate researchers in our lab are paid to reduce inequities associated with unpaid research assistant positions. Undergraduates from USC may be eligible for <a href = "https://dornsife.usc.edu/exl/soar/">SOAR funding</a> and occasionally for other fellowship opportunities. Undergraduates from outside USC may be eligible for summer internship positions including as part of the Wrigley Institute's <a href = "https://dornsife-wrigley.usc.edu/education/undergraduate-internships/reu/">REU program</a>. Contact Noelle and describe why you are interested in our group! 
      </p>
      <p class='subtitle'>
        <b>High school students:  </b>We are not able to recruit high school students (minors) at this time. 
      </p>
      <p class='subtitle'>
        <b>Other staff (post-bacc, non PhD technical staff, etc.): </b>While we do not have a dedicated position at this time, please contact Noelle if you have a strong interest! 
      </p>

  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
