---
layout: menu-page
title: Join Us
permalink: joinus:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
      <h3>Join Us</h3>
      <p class="subtitle2"><strong> Current news: We will be hiring a full-time research scientist/instrument manager for our mass spectrometry platform. The position will include instrument management, setting up best practices, and assisting at all stages of LC-MS based proteomics. There is significant potential to pursue your own research interests. Full advertisement will come soon, but please reach out to Noelle (nheld@usc.edu) if you have interest. </strong>
      <p class="subtitle">
        We are a young group, quickly developing into a diverse and vibrant team. We are looking for scientists at all levels (pre-bacc, post-bacc, graduate students, postdocs, and technical staff) from Jan 2024. </p>
      <p class='subtitle'>
        <b>We pursue rigorous science in a deliberate, supportive environment.</b> We celebrate diversity and work as a team, because this enhances our contributions to academia and to the world. 
        We interact frequently so that we can practice the hard and soft skills of science together.
      </p>
      <p class='subtitle'>
        People of many scientific backgrounds may feel at home in our group. This includes chemists, environmental scientists, ocean scientists, biologists, and quantitative researchers. We are united by an interest in the ocean, microbial ecology, proteomics, systems biology, and quantitative biology. 
      </p>
      <p class='subtitle'>
        If this sounds like the right environment for you, please contact Noelle (nheld@usc.edu). Please use as your subject line: "Interest in joining" and include a brief description of yourself and your interests. We generally get back within one week, but sometimes emails get lost in the fray. Please don't hesitate to resend your initial email. 
      </p>
      <p class = 'subtitle'>
        Our group can accept PhD students in the <a href = "https://dornsife.usc.edu/meb/prospective-students/">Marine and Environmental Biology</a> or <a href = "https://dornsife.usc.edu/oceansciences/">Ocean Sciences</a> programs. 
      <p class='subtitle'>
        Coming later: more information about USC graduate programs, fellowship opportunities for graduate students and postdocs, opportunity ads, and useful links about applying to graduate school. 
      </p>
      <p class='subtitle'>
        Undergraduate researchers in our lab are paid. Undergraduates from USC may be eligible for <a href = "https://dornsife.usc.edu/exl/soar/">SOAR funding</a> and occasionally for other fellowship opportunities. Undergraduates from outside USC may be eligible for summer internship positions including as part of the Wrigley Institute's <a href = "https://dornsife-wrigley.usc.edu/education/undergraduate-internships/reu/">REU program</a>. Contact Noelle and describe why you are interested in our group! 
      </p>
      <p class='subtitle'>
        Potential postdocs: Please reach out to learn more about fellowships that our group may be eligible for. Opportunities are available within and outside of USC. For postdocs, we commit to supporting you in developing your fellowship applications and providing clarity about backup funding. 
      </p>
 
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
