---
layout: menu-page
title: Join Us
permalink: joinus:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
      <h3>Join Us</h3>
      <p class="subtitle2"><strong> Current news: We will be hiring a full-time research scientist/instrument manager for our mass spectrometry platform. The position will include instrument management, setting up best practices, and assisting at all stages of LC-MS based proteomics. There is significant potential to pursue your own research interests. Full advertisement will come soon, but please reach out to Noelle (nheld@usc.edu) if you have interest. </strong>
      <p class="subtitle">
        We are a young group, quickly developing into a diverse and vibrant team. We are looking for scientists at all levels (pre-bacc, post-bacc, graduate students, postdocs, and technical staff) from Jan 2024. </p>
      <p class='subtitle'>
        <b>We pursue rigorous science in a deliberate, supportive environment.</b> We celebrate diversity and work as a team, because this enhances our contributions to academia and to the world. 
        We interact frequently so that we can practice the hard and soft skills of science together.
      </p>
      <p class='subtitle'>
        People of many scientific backgrounds may feel at home in our group. This includes chemists, environmental scientists, ocean scientists, biologists, and quantitative researchers. We are united by an interest in the ocean, microbial ecology, proteomics, systems biology, and quantitative biology. 
      </p>
      <p class='subtitle'>
        If this sounds like the right environment for you, please contact Noelle (nheld@usc.edu). Please use as your subject line: "Interest in joining" and include a brief description of yourself and your interests. We generally get back within one week, but sometimes emails get lost in the fray. Please don't hesitate to resend your initial email. 
      </p>
      <p class = 'subtitle'>
        Our group can accept PhD students in the Marine and Environmental Biology or Ocean Sciences programs. 
      <p class='subtitle'>
        Coming later: more information about USC graduate programs, fellowship opportunities for graduate students and postdocs, opportunity ads, and useful links about applying to graduate school. 
      </p>
 
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
