---
layout: menu-page
title: Methods
permalink: methods:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
      <h3>Methods/tools we commonly use</h3>
      <p class="subtitle">
        <ul>
        <li><a href = "https://en.wikipedia.org/wiki/Liquid_chromatography%E2%80%93mass_spectrometry">Liquid-chromatography mass spectrometry (aka LC-MS, "Mass Spec") </a>- especially for <a href = "https://en.wikipedia.org/wiki/Proteomics"> Proteomics</a></li>
        <li><a href = "https://en.wikipedia.org/wiki/Live-cell_imaging">Live cell microscopy and microfluidics</a></li>
        <li><a href = "https://en.wikipedia.org/wiki/Mathematical_model">Mathematical modelling and theory</a></li>
        <li>Laboratory experimentation (growing cells in flasks)</li>
        <li>Field experimentation (bottle incubations, mesocosms)</li>
        <li>Observational science (analyzing samples directly from nature)</li>
        <li>Genetic engineering</li>
        <li>Formal discussions</li>
        <li>Informal chats</li>
        <li>Kindness</li>
        <li>Chocolate</li>
        <li>Coffee</li>
        

      </p>
 
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
