---
layout: menu-page
title: Our perspective
permalink: ourperspective:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
      <h3>Scientific Perspective</h3>
      <p class="subtitle">
        Microbes drive the function of the Earth system by catalyzing and connecting biogeochemical cycles, maintaining the balance of nature.<br><br>
        In the ocean, microbes constantly face multiple challenges. The process of "cellular decision-making" helps them to adapt.<br><br>
        The choices that microbes can make are constrained by biochemical, biophysical, and biogeochemical trade offs. Some of these are universal. <br><br>
        Microbial choices are revealed by their proteins, which are literal, tiny molecular machines that actuate the activity and function of life. <br><br>
        Cellular decision-making in marine microbes relates, directly and indirectly, to processes at larger scales, such as elemental cycling in an ocean basin. <i><br><br>
        <strong>Microbes are remarkable</strong>, and learning more about their incredible lives can inspire us to be better stewards of the ocean and of each other. 
        
 
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
