---
layout: menu-page
title: Publications
permalink: publications:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
      <h2>Publications</h2>
      <p> <a href = https://scholar.google.com/citations?hl=en&user=AyB75HoAAAAJ&view_op=list_works&sortby=pubdate> View in Google Scholar [Noelle's Profile] </a></p>
      <p> <a href = https://orcid.org/0000-0003-1073-0851> View in ORCiD [Noelle's Profile] </a></p>
      <p> Please write us if you have any trouble accessing our publications. While most of our work is published in open access formats and/or available in pre-print format, we are also happy to provide author prints. </p>

 
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
