---
layout: menu-page
title: Values
permalink: values:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
      <h3>Values</h3>
      <p class="subtitle">
        <strong>This is a living document, being shaped as we learn more about best practices.</strong><br><br>
        Perhaps the biggest impact we can have as scientists is on each other. The quantitative sciences and especially the environmental sciences are demonstrably behind in racial, gender, ability, and socioeconomic inclusion. It is our commitment and privilege to mentor scientists of all backgrounds. 
        <br><br>
        Building strong relationships is crucial for recruiting and retaining scientists at all levels. To help us to grow as individuals and as a team, we emphasize:
        <ul>
          <li>Kindness</li>
          <li>Generosity</li>
          <li>Teamwork</li>
          <li>Flexibility</li>
        </ul>
        And, we have as much fun as we can!

      </p>
 
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
