---
layout: home-page
---
{% include calculate_relative_base.html %}

<div class="post-card-video">
  <video id="background-video" autoplay loop muted>
    <source src="assets/img/oceanmovie_MOV_AdobeExpress.mp4" type="video/mp4">
  </video>
</div>

<!--<ol class="post-card-description clearfix">
      <div class="post-card-body2">
        <p class="post-card-title-and-meta">
          <a href="about2.html" class="post-card-link">
            <p style="font-size: 1.2em">Tiny cells, global impact.
            </p>
          </a>
          <a href = "ourperspective.html" class="post-card-link">
            <p style="font-size: 0.9em">
            We study the inner lives of marine microbes and how they<br>contribute to the health of the ocean. 
            </p>
          </a>
          <a href = "methodsweuse.html" class="post-card-link">
            <p style="font-size:0.9em"><a href = "methods.html" class="post-card-link">
            Our specialities include environmental proteomics, systems biology, <br>quantitative biology, and ocean biogeochemistry. </p>
          </a>
        </p>
      </div>
</ol>-->

<!--<ol class="post-card-box clearfix">
  <div class="post-card-body2">
        <p class="post-card-title-and-meta">
          <a href="about2.html" class="post-card-link">
          <p style="font-size: 1.2em">
              Read about our response to study how recent LA fires are affecting marine microbial communities.  
            </p>

            <p style="font-size: 1.2em">
              Tiny cells, global impact.
            </p>
          </a>
          <a href = "ourperspective.html" class="post-card-link">
            <p style="font-size: 0.9em">
              We study the inner lives of marine microbes and how they<br>contribute to the health of the ocean. 
            </p>
          </a>
          <a href = "methodsweuse.html" class="post-card-link">
            <p style="font-size:0.9em"><a href = "methods.html" class="post-card-link">
              Our specialities include environmental proteomics, systems biology, <br>quantitative biology, and ocean biogeochemistry. 
            </p>
          </a>
  </div>
</ol>-->

<div class = "post-card-body3">
<p class="post-card-title-and-meta">
  <br>
          <a href="about2.html" class="post-card-link">

            <p class='bigheader'>
              Read below about our response to study how devastating LA fires are affecting marine microbiome health
            </p>
            <p class='bigheader'>
              Tiny cells, global impact.
            </p>
          </a>
          <a href = "ourperspective.html" class="post-card-link">
            <p class='smallheader'>
              We study the inner lives of marine microbes and how they<br>contribute to the health of the ocean. 
            </p>
          </a>
          <a href = "methodsweuse.html" class="post-card-link">
            <p class='smallheader'><a href = "methods.html" class="post-card-link">
              Our specialities include environmental proteomics, systems biology, <br>quantitative biology, and ocean biogeochemistry. 
            </p>
          </a>
          <br>
</div>
<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  {% include remove_double_slash.html %}

  <li>
    <div class="post-card">
      <a href="{{ post_url }}" title="{{ post.title }}" class="post-card-image" style="background: url('{{ relativebase }}assets/img/{{ post.img }}') center no-repeat; background-size: cover;">
      </a>
      <div class="post-card-body">
        <p class="post-card-title-and-meta">
          
          <a href="{{ post_url }}" class="post-card-link">
          {{ post.title }}
          </a>
          {% include post_meta.html type="post-card-meta" date="none" %}
        </p>
      </div>
    </div>
  </li>
  {% endfor %}
</ol>
